.DS_Store

node_modules

.env
agent-docs/

.vscode/
backend/.vscode/
mcp/.vscode/

backend/.venv/
mcp/.venv

backend/vendor/

backend/requirements.txt
mcp/requirements.txt

backend/__pycache__/
mcp/__pycache__/

.serverless/
.requirements.zip